html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color:#af1649;
}

h2{
    color:#ffeba7;
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px solid black ;
    margin-top:30px;
    height:2.5em;
    width:250px;
    padding-left:10px;
}

button{
    margin-top:20px;
    background-color:#f0d8f5;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #102770;
}


#head{
    text-align: center;
}

#popup{
    display: none;
}


